body  {
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        }

        nav {
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: normal;
        }

        .logo {
            max-height: 40px;
        }

        

        .padding-adjustment {
            margin-top: 5%;
        }

        .titles-font-style {
            font-family: "Karla", sans-serif;
            font-size: 1.875em;
            font-weight: 600;
            letter-spacing: 0.48em;
        }

        .subtitles-font-style {
            margin-top: 1.875em;
            font-family: "Kanit", sans-serif;
            font-size: 1.975em;
            font-weight: 400;
        }
        
        .links {
            text-decoration: none;
        }

        .video-hover-container:hover .hover-image {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .video-hover-container:hover .preview-video {
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        .video-hover {
        display: none;
        }
        .video-preview:hover .video-hover:hover {
        display: block;
        }

        /*--------------------------------------------------------*/
        @media (max-width: 480px) {
            #main, .main {
                margin: 0%;
                padding: 10px;
            }

            .w3-bar {
                background-color: rgb(255, 255, 255);
            }
            
           
            .w3-display-container {
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
            }

            .img-zoom-responsive {
                transform: scale(1.8); /* Zoom (pode ajustar) */
                transform-origin: right center; /* Mantém alinhado à direita */
                transition: transform 0.3s ease-in-out;
            }

        }
        
        /*--------------------------------------------------------*/
        
        @media only screen and (min-width: 481px) and (max-width: 768px) {
            #main, .main {
                margin: 2% 1% 2% 2%;
                padding: 3px;
            }
                
            .w3-bar {
                background-color: rgb(255, 255, 255);
            }
                
            .w3-display-container {
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
            }
                    
            .img-zoom-responsive {
                transform: scale(1.38); 
                transform-origin: right center;
                transition: transform 0.3s ease-in-out;
            }
                        
        }

        /*--------------------------------------------------------*/
        
        @media only screen and (min-width: 769px) and (max-width: 1120px) {
            #main, .main {
                margin: 0% 0% 1% 0%;
                padding: 10px;
            }
                
            .w3-bar {
                background-color: rgb(255, 255, 255);
            }

            
                
            .w3-display-container {
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
            }
                    
            .img-zoom-responsive {
                transform: scale(1.42); /* Zoom (pode ajustar) */
                transform-origin: right center; /* Mantém alinhado à direita */
                transition: transform 0.3s ease-in-out;
            }
                        
        }

        /*--------------------------------------------------------*/
        
        @media only screen and (min-width: 1121px) {
            #main, .main {
                margin: 2% 0% 8% 2%;
                padding: 0px;
            }
                
            .w3-bar {
                background-color: rgb(255, 255, 255);
                padding: 0;
            }

            
            .w3-container {
                width: 62%;
                margin: auto;
            }
                    
            .img-zoom-responsive {
                transform: scale(1);
                transform-origin: right center;
                transition: transform 0.3s ease-in-out;
            }
                        
        }

.margin-banner-btn {
    margin: clamp(18px, 2vw, 40px); /* 8px em telas pequenas, até 24px em grandes */
}

        
                            
                            
                      
  

       